header {
  position : fixed;
  top: 0px;
  width: 100%;
  background-color: black;
  z-index: 200;

  h1 {
    font-size: 33px;
    color: yellow;
    margin: auto;
    width: 17%;
    padding-bottom: 7px;
  }

  ul {
    width: 15%;
    margin: auto;
    padding-bottom: 13px;

    li {
      display: inline;
      margin-right: 30px;
      font-size: 18px;

      a {
        color: yellow;
      }
    }
  }
}