#description {
    background-color: black;
    width: 50%;
    margin: auto;
    position: relative;
    padding: 10px;
    margin-top: 300px;
    color: white;
    opacity: 0.8;

    .description-text {
      font-size: 15px;
    }
}